@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

body{
  background-color: white;
  padding:0px;
  margin:0px;
}
h1, h2, h3, h4, h5, h6, p{
  font-family: 'Poppins', sans-serif;
  margin:0px;
  padding:0px;
  color:#24292f !important;
}
a, a:hover{
  text-decoration: none;
}
.blue-span{
  color:#00B3D3;
}
.classynav ul li .dropdown li a{
    border-bottom: none !important;
}
.active-blue{
    background-color:#00B3D3;
    border-bottom: none !important;
}
.usa-span{
    background: #002868;
    background: -webkit-linear-gradient(to right, #002868 0%, #BF0A30 50%);
    background: -moz-linear-gradient(to right, #002868 0%, #BF0A30 50%);
    background: linear-gradient(to right, #002868 0%, #BF0A30 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.india-span{
    background: #FF9933;
    background: -webkit-linear-gradient(to right, #FF9933 40%, #C7C7C7 50%, #138808 100%);
    background: -moz-linear-gradient(to right, #FF9933 40%, #C7C7C7 50%, #138808 100%);
    background: linear-gradient(to right, #FF9933 40%, #C7C7C7 50%, #138808 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.uk-span{
    background: #C8102E;
    background: -webkit-linear-gradient(to right, #C8102E 40%, #C7C7C7 50%, #012169 100%);
    background: -moz-linear-gradient(to right, #C8102E 40%, #C7C7C7 50%, #012169 100%);
    background: linear-gradient(to right, #C8102E 40%, #C7C7C7 50%, #012169 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.germany-span{
    background: #000000;
    background: -webkit-linear-gradient(to right, #141414 0%, #DD0000 30%, #FFCE00 80%);
    background: -moz-linear-gradient(to right, #141414 0%, #DD0000 30%, #FFCE00 80%);
    background: linear-gradient(to right, #141414 0%, #DD0000 30%, #FFCE00 80%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.canada-span{
    color:#D80621;
}
.orange-span{
    color:#F89F1B;
}
.red-span{
    color:#E1473D;
}
.mt-50{
  margin-top: 50px;
}
.ml-10{
    margin-left:10px;
}
.m-box{
  margin-top:50px;
}
.images{
    display:flex;
    align-items: center;
    justify-content: center;
}
.button{
  border-radius: 45px;
  width:180px;
  outline:none;
  font-family: 'Poppins', sans-serif;
  padding:18px 0px;
  text-align: center;
  transition: 0.3s;
  font-size:16px;
  font-weight:500;
}
.dashboard-btn{
    background-color:#00B3D3;
    border-radius: 3px;
    color:white !important;
}
.button-2{
    width: auto;
    padding:18px 25px;
    border-radius: 45px;
    outline:none;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    transition: 0.3s;
    font-size:16px;
    font-weight:500;
}
.blue-btn{
  background-color: #00B3D3;
  color:white;
  border:1px solid #00B3D3;
}
.blue-btn:hover{
  background-color: #009cb8;
  border:1px solid #009cb8;
}
.white-btn{
  background-color: white;
  border:1px solid #00B3D3;
  color:#00B3D3;
}
.white-btn:hover{
  background-color: #e7fbff;
}
.yellow-button{
    border-radius: 45px;
    width:auto;
    outline:none;
    font-family: 'Poppins', sans-serif;
    padding:10px 15px;
    background-color: #F89F1B;
    text-align: center;
    color:white;
    transition: 0.3s;
    font-size:14px;
    font-weight:500;
    margin-top:20px;
  }
.width-80{
  width:80%;
}
.flx-center{
  display:flex;
  align-items: center;
}
.flx-center-justify{
    display:flex;
    align-items: center;
    justify-content: center;
}


.hero-section{
    background-image: url('img/hero-bg3.svg');
    width: 100%;
    height:100vh;
    background-position: top;
    background-size: cover;
}
.hs-heading{
    font-size:45px;
    font-weight: 600;
    margin-bottom: 0px;
    line-height: 115%;
    color:#151515;
    text-align: left;
    letter-spacing: -0.4px;
}
.hs-paragraph{
    font-size:14px;
    text-align: left;
    color:#151515;
    margin-top:15px;
    margin-bottom: 0px;
    line-height: 24px;
    font-weight: 300;
}
.hs-buttons{
    margin-top:60px;
    display:flex;
    align-items: flex-start;
}
.products-section{
    background-image: url('img/products-bg2.png');
    width:100%;
    padding:120px 0px;
    background-size: cover;
    background-position: center;
}
.ps-heading{
    font-size:45px;
    font-weight: 600;
    margin-bottom: 0px;
    line-height: 115%;
    color:#151515;
    text-align: center;
    letter-spacing: -0.4px;
}
.products-row{
    padding-top:50px;
}
.ps-box{
    background-color: white;
    padding:55px 45px;
    margin-bottom: 40px;
    border-radius: 15px;
}
.ps-img-box{
    margin-bottom: 40px;   
    display:flex;
}
.ps-sm-heading{
    font-weight:600;
    font-size:35px;
    line-height: 115%;
    color:#151515;
    margin-bottom: 20px;
    text-align: left;
}
.ps-paragraph{
    font-size:16px;
    font-weight: 300;
    line-height: 24px;
    color:#151515;
    margin-bottom: 30px;
    text-align: left;
}
.ps-ticks{
    display:flex;
    align-items: center;
    margin-bottom: 15px;
}
.ps-ticks-text{
    font-size:14px;
    font-weight: 300;
    line-height: 20px;
    color:#151515;
    text-align: left;
    margin-left:20px;
}
.cert-section{
    background-color: #F5F5F5;
    background-image: url('img/certifications-bg.svg');
    padding:120px 0px;
    width:100%;
    background-size: cover;
    background-position: center;
}
.ct-heading{
    font-size:45px;
    font-weight: 600;
    line-height: 115%;
    color:#151515;
    text-align: center;
    letter-spacing: -0.4px;
    margin-bottom:50px;
}
.ct-paragraph{
    font-size:14px;
    font-weight: 600;
    margin-bottom: 0px;
    line-height: 18px;
    color:#151515;
    text-align: center;
    letter-spacing: -0.4px;
    margin-top:10px;
}
.ct-text-box{
    display:flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}
.ct-images{
    background-color:white;
    padding:10px 10px;
    border-radius:10px;
    text-align: center;
    width: 100%;
    height:130px;
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction:column;
}
.ct-sm-heading{
    font-size:35px;
    font-weight: 600;
    margin-bottom: 0px;
    line-height: 55px;
    color:#151515;
    text-align: left;
    letter-spacing: -0.4px;
}
.features-section{
    padding:120px 0px 110px 0px;
}
.fs-heading{
    font-size:45px;
    font-weight: 600;
    margin-bottom: 0px;
    line-height: 115%;
    color:#151515;
    text-align: center;
    letter-spacing: -0.4px;
}
.fs-box{
    background: white;
    padding:50px 35px;
    width:100%;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
    margin-bottom:20px;
    display:flex;
    align-items: center;
}
.rds-box{
    background: white;
    padding:50px 35px;
    width:100%;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
    margin-bottom:20px;
    display:flex;
    align-items: center;
}
.rds-p-box{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding-left: 20px;
}
.rds-sm-heading{
    font-size:16px;
    font-weight: 600;
    margin-bottom: 20px;
    line-height: 24px;
    color:#151515;
    text-align: left;
    letter-spacing: -0.4px;
}
.special-width{
    width:80% !important;
}
.w-h-80{
    height:80px;
    width: 80px;
}
.pb-120{
    padding-bottom:120px;
}
.rds-paragraph{
    width:100%;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: -0.4px;
    text-align: left;
    line-height: 30px;
    color:#151515;
}
.fs-p-box{
    display:flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.fs-paragraph{
    width:65%;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: -0.4px;
    text-align: left;
    line-height: 30px;
    color:#151515;
}
.usecases-section{
    padding:110px 0px;
    background-color: #F5F5F5;
}
.uc-heading{
    font-size:45px;
    font-weight: 600;
    margin-bottom: 0px;
    line-height: 115%;
    color:#151515;
    text-align: center;
    letter-spacing: -0.4px;
}
.uc-box{
    margin:10px 0px;
    padding:40px 10px;
    background-color: white;
    border-radius:10px;
    text-align: center;
    width: 100%;
}
.uc-box-shadow{
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
}
.uc-box .uc-paragraph{
    font-size:16px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom:0px;
    line-height: 28px;
    color:#151515;
    text-align: center;
    letter-spacing: -0.4px;
}
.uc-paragraph{
    font-size:18px;
    font-weight: 400;
    margin-top: 50px;
    margin-bottom:0px;
    line-height: 28px;
    opacity:0.7;
    color:#151515;
    text-align: center;
    letter-spacing: -0.4px;
}
.top-location-section{
    padding:120px 0px;
}
.tl-heading{
    font-size:45px;
    font-weight: 600;
    margin-bottom: 0px;
    line-height: 115%;
    color:#151515;
    text-align: center;
    letter-spacing: -0.4px;
}
.tl-box{
    border-radius:10px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
    padding:40px 10px;
    background-color: white;
    text-align: center;
    margin-bottom: 20px;
}
.tl-box .tl-img{
    width:80px;
    height:80px;
}
.tl-box .tl-paragraph{
    font-size:16px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom:0px;
    line-height: 115%;
    color:#151515;
    text-align: center;
    letter-spacing: -0.4px;
}
.tl-box .tl-sm-paragraph{
    font-size:16px;
    font-weight: 400;
    margin-top:10px;
    margin-bottom:0px;
    line-height: 115%;
    color:#151515;
    opacity: 0.7;
    text-align: center;
    letter-spacing: -0.4px;
}
.tl-box .tl-ips{
    font-size:45px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 0px;
    line-height: 115%;
    color:#00B3D3;
    text-align: center;
    letter-spacing: -0.4px;
}
.tl-btn-center{
    display:flex;
    align-items: center;
    justify-content: center;
}
.why-proxyverse-section{
    background-image: url('img/why-proxyverse.svg');
    padding:120px 0px;
    background-size: cover;
    background-position: center;
}
.wp-heading{
    font-size:45px;
    font-weight: 600;
    margin-bottom: 0px;
    line-height: 115%;
    color:#151515;
    text-align: center;
    letter-spacing: -0.4px;
}
.wp-sm-heading{
    font-size:35px;
    font-weight: 600;
    margin-bottom: 0px;
    line-height: 115%;
    color:#151515;
    text-align: left;
    letter-spacing: -0.4px;
}
.wp-box{
    display:flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.wp-paragraph{
    font-size:16px;
    font-weight: 400;
    margin-top:15px;
    margin-bottom:0px;
    line-height: 28px;
    color:#151515;
    opacity: 0.7;
    text-align: left;
    letter-spacing: -0.4px;
    width: 80%;
}
.footer{
    background-color: #F5F5F5;
    padding-top:80px;
}
.footer .f-heading{
    font-size:20px;
    font-weight: 600;
    line-height: 24px;
    color:#065564;
    opacity: 0.7;
    text-align: left;
    letter-spacing: -0.3px;
    margin-bottom: 20px;
}
.footer .footer-links{
    font-size:16px;
    font-weight: 400;
    line-height: 24px;
    color:#151515;
    text-align: left;
    letter-spacing: -0.3px;
    margin-bottom: 20px;
}
.footer .copyright{
    font-size:16px;
    font-weight: 400;
    line-height: 24px;
    color:#151515;
    text-align: center;
    letter-spacing: -0.3px;
    margin-bottom: 40px;
}
.products-premium-section{
    padding:120px 0px;
    background-color: #F5F5F5;
}
.pp-paragraph{
    font-size:18px;
    font-weight: 400;
    margin-top:15px;
    margin-bottom:0px;
    line-height: 28px;
    color:#151515;
    opacity: 0.7;
    text-align: center;
    letter-spacing: -0.4px;
    width: 100%;
}
.rdc-paragraph{
    font-size:18px;
    font-weight: 400;
    margin-top:40px;
    margin-bottom:0px;
    line-height: 28px;
    color:#151515;
    opacity: 0.7;
    text-align: center;
    letter-spacing: -0.4px;
    width: 100%;
}
.pp-btn-center{
    display:flex;
    align-items: center;
    justify-content: center;
}
.p-usecases-section{
    background-image: url('img/why-proxyverse.svg');
    background-position: center center;
    background-size: cover;
    padding:120px 0px;
}
.puc-heading{
    font-size:45px;
    font-weight: 600;
    margin-bottom: 0px;
    line-height: 115%;
    color:#151515;
    text-align: center;
    letter-spacing: -0.4px;
}
.puc-pargraph{
    font-size:18px;
    font-weight: 400;
    margin-top:20px;
    margin-bottom:0px;
    line-height: 28px;
    color:#151515;
    text-align: center;
    letter-spacing: -0.4px;
}
.puc-box{
    border-radius:10px;
    padding:40px 25px;
    background-color: white;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
    text-align: center;
    margin-bottom:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.puc-box .puc-sm-heading{
    font-size:18px;
    font-weight: 600;
    margin-top:15px;
    margin-bottom:0px;
    line-height: 28px;
    color:#151515;
    text-align: center;
    letter-spacing: -0.4px;
}
.puc-box .puc-sm-paragraph{
    font-size:14px;
    font-weight: 400;
    margin-top:15px;
    margin-bottom:0px;
    line-height: 24px;
    color:#151515;
    opacity: 0.7;
    width:70%;
    text-align: center;
    letter-spacing: -0.4px;
}
.hero-usecases-bg{
    background-image: url('img/hero-usecases-bg.svg') !important;
    background-position: bottom;
    width: 100%;
    height: 100vh;
    background-size: cover;
}
.blur-section{
    background-image: url('img/products-banner-bg.png');
    width: 100%;
    height:100vh;
    background-position: top;
    background-size: cover;
}
.blur-heading{
    font-size:45px;
    font-weight: 600;
    margin-bottom: 0px;
    line-height: 115%;
    color:#151515;
    text-align: left;
    letter-spacing: -0.4px;
}
.blur-sm-heading{
    font-size:25px;
    font-weight: 400;
    margin-top:25px;
    margin-bottom: 0px;
    line-height: 115%;
    color:#151515;
    text-align: left;
    letter-spacing: -0.4px;
}
.blur-paragraph{
    font-size:16px;
    font-weight: 300;
    margin-top:20px;
    margin-bottom:0px;
    line-height: 28px;
    color:#151515;
    text-align: left;
    letter-spacing: -0.4px;
}
.rp-section{
    background-image: url('img/products-banner-bg.png');
    width: 100%;
    height:100vh;
    background-position: top;
    background-size: cover;
}
.ucp-heading{
    font-size:45px;
    font-weight: 600;
    margin-bottom: 0px;
    line-height: 115%;
    color:#151515;
    text-align: left;
    letter-spacing: -0.4px;
}
.ucp-paragraph{
    font-size:16px;
    font-weight: 300;
    margin-top:20px;
    margin-bottom:0px;
    line-height: 28px;
    color:#151515;
    text-align: left;
    letter-spacing: -0.4px;
}
.top-locations-country{
    width: 100%;
    height:100vh;
    background-position: top;
    background-size: cover;
}
.rp-section .rps-box{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.rp-section .rp-heading{
    font-size:45px;
    font-weight: 600;
    margin-bottom: 0px;
    line-height: 115%;
    color:#151515;
    text-align: left;
    letter-spacing: -0.4px;
}
.rp-section .rp-sm-heading{
    font-size:25px;
    font-weight: 400;
    margin-top:25px;
    margin-bottom: 0px;
    line-height: 115%;
    color:#151515;
    text-align: left;
    letter-spacing: -0.4px;
}
.rp-section .rp-paragraph{
    font-size:16px;
    font-weight: 300;
    margin-top:20px;
    margin-bottom:0px;
    line-height: 28px;
    color:#151515;
    text-align: left;
    letter-spacing: -0.4px;
}
.how-works-section{
    padding:120px 0px;
}
.grey-section{
    background-color: #F5F5F5;
}
.hw-heading{
    font-size:45px;
    font-weight: 600;
    margin-bottom: 0px;
    line-height: 115%;
    color:#151515;
    text-align: center;
    letter-spacing: -0.4px;
}
.hw-paragraph{
    font-size:16px;
    font-weight: 400;
    margin-top:40px;
    margin-bottom:0px;
    line-height: 28px;
    color:#151515;
    opacity:0.7;
    text-align: center;
    letter-spacing: -0.4px;   
}
.faqs-section{
    padding:120px 0px;
}
.faqs-heading{
    font-size:45px;
    font-weight: 600;
    margin-bottom: 0px;
    line-height: 115%;
    color:#151515;
    text-align: center;
    letter-spacing: -0.4px;
}
.accordion {
    font-family: 'Poppins', sans-serif;
    background-color: #F5F5F5;
    color: #151515;
    cursor: pointer;
    padding: 35px;
    width: 100%;
    border: none;
    border-radius: 5px;
    text-align: left;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    transition: 0.4s;
    margin-top:10px;
  }
  
  .active, .accordion:hover {
    background-color: #F5F5F5;
  }
  
  .accordion:after {
    content: '\002B';
    font-weight: bold;
    float: right;
    margin-left: 45px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .panel {
    background-color: #F5F5F5;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
.panel .faqs-panel{
    padding: 30px 35px;
    font-size:16px;
    font-weight: 300;
    margin-bottom:0px;
    line-height: 28px;
    color:#151515;
    text-align: left;
    letter-spacing: -0.4px; 
}
.blue-line-padding{
    padding:0px 35px;
}
.blue-line-padding .blue-line{
    height:1px;
    width:100%;
    background-color: #00B3D3;
}
.leadingp-section{
    background-color: #F5F5F5;
    padding:120px 0px;
}
.lp-heading{
    font-size:45px;
    font-weight: 600;
    margin-bottom: 0px;
    line-height: 115%;
    color:#151515;
    text-align: center;
    letter-spacing: -0.4px;
}
.lp-paragraph{
    font-size:18px;
    font-weight: 400;
    margin-top:40px;
    margin-bottom:40px;
    line-height: 28px;
    color:#151515;
    opacity:0.7;
    text-align: center;
    letter-spacing: -0.4px; 
}
.lp-btn-center{
    display:flex;
    align-items: center;
    justify-content: center;
}
.section{
    width:100%;
    padding-top:120px;
}
.section-b{
    padding:120px 0px;
}
.section-b-120{
    padding-bottom:120px;
}
.right-proxy-section{
    background-image: url('img/right-proxy-bg.png');
    width:100%;
    padding-top:120px;
    background-size: cover;
    background-position: center;
}
.rproxy-heading{
    font-size:45px;
    font-weight: 600;
    margin-bottom: 0px;
    line-height: 115%;
    color:#151515;
    text-align: left;
    letter-spacing: -0.4px;
}
.rproxy-sm-heading{
    font-size:25px;
    font-weight: 400;
    margin-top:30px;
    margin-bottom: 0px;
    line-height: 115%;
    color:#151515;
    text-align: left;
    letter-spacing: -0.4px;
}
.rproxy-paragraph{
    font-size:16px;
    font-weight: 300;
    margin-top:30px;
    margin-bottom:30px;
    line-height: 28px;
    color:#151515;
    opacity:0.7;
    text-align: left;
    letter-spacing: -0.4px;
}
.dc-scale-section{
    background-image: url('img/scale.svg');
    width:100%;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding:120px 0px;
}
.dcs-heading{
    font-size:45px;
    font-weight: 600;
    margin-bottom: 0px;
    line-height: 115%;
    color:#151515;
    text-align: center;
    letter-spacing: -0.4px;
}
.dcs-paragraph{
    font-size:16px;
    font-weight: 400;
    margin-top:50px;
    margin-bottom:50px;
    line-height: 28px;
    color:#151515;
    opacity:0.7;
    text-align: center;
    letter-spacing: -0.4px;
}
.benefits-section{
    padding:110px 0px;
}
.bfts-heading{
    font-size:45px;
    font-weight: 600;
    margin-bottom: 0px;
    line-height: 115%;
    color:#151515;
    text-align: center;
    letter-spacing: -0.4px;
}
.bfts-box{
    background-color: white;
    border-radius:10px;
    transition: 0.3s;
    text-align:center;
    padding:40px 30px;
    margin:10px 0px;
    display:flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    border:1px solid white;
}
.bfts-box:hover{
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
    border:1px solid rgba(0, 179, 211, 0.5);
}
.bfts-box .bfts-sm-heading{
    font-size:20px;
    font-weight:600;
    margin-top:40px;
    margin-bottom:0px;
    line-height: 24px;
    color:#151515;
    width:70%;
    text-align: center;
    letter-spacing: -0.4px;
}
.bfts-box .bfts-sm-paragraph{
    font-size:16px;
    font-weight: 400;
    margin-top:15px;
    margin-bottom:0px;
    line-height: 24px;
    color:#151515;
    opacity: 0.7;
    text-align: center;
    letter-spacing: -0.4px;
    width:80%;
}
.pfts-section{
    padding:120px 0px;
}
.pfts-heading{
    font-size:45px;
    font-weight: 600;
    margin-bottom: 0px;
    line-height: 115%;
    color:#151515;
    text-align: center;
    letter-spacing: -0.4px;
}
.pfts-box{
    padding:25px 40px;
    border-radius:10px;
    text-align: center;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.11);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.11);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.11);
}
.pfts-box .pfts-sm-paragraph{
    font-size:19px;
    font-weight: 400;
    margin-top:30px;
    margin-bottom:0px;
    line-height: 28px;
    color:#151515;
    text-align: center;
    letter-spacing: -0.4px; 
}
.bold-span{
    font-weight: 600;
}
.bold-span-2{
    font-weight: 500;
}
.rp-section-2{
    background-image: url('img/top-locations.png');
    width: 100%;
    height:100vh;
    background-position: top;
    background-size: cover;
}
.top-locations-country .ln-heading{
    font-size:45px;
    font-weight: 600;
    margin-bottom: 0px;
    line-height: 115%;
    color:#151515;
    text-align: left;
    letter-spacing: -0.4px;
}
.ln-sm-heading{
    font-size:30px;
    font-weight: 400;
    margin-top:20px;
    margin-bottom:0px;
    line-height: 40px;
    color:#151515;
    text-align: left;
    letter-spacing: -0.4px;   
}
.ln-paragraph{
    font-size:16px;
    font-weight: 300;
    margin-top:20px;
    margin-bottom:0px;
    line-height: 28px;
    color:#151515;
    text-align: left;
    letter-spacing: -0.4px;   
}
.rp-section-2 .rp-heading{
    font-size:45px;
    font-weight: 600;
    margin-bottom: 0px;
    line-height: 115%;
    color:#151515;
    text-align: left;
    letter-spacing: -0.4px;
}
.rp-section-2 .rp-paragraph{
    font-size:16px;
    font-weight: 400;
    margin-top:20px;
    margin-bottom:0px;
    line-height: 28px;
    color:#151515;
    text-align: left;
    letter-spacing: -0.4px;   
}
.btn-inline{
    display: flex;
    align-items: flex-start;
}
.all-locations-section{
    background-color:#F5F5F5;
    padding:120px 0px;
}
.aloc-heading{
    font-size:45px;
    font-weight: 600;
    margin-bottom: 0px;
    line-height: 115%;
    color:#151515;
    text-align: center;
    letter-spacing: -0.4px;
}
.aloc-sm-heading{
    font-size:35px;
    font-weight: 600;
    margin-top:30px;
    margin-bottom: 50px;
    line-height: 115%;
    color:#151515;
    text-align: center;
    letter-spacing: -0.4px;
}
.aloc-sm-paragraph{
    font-size:16px;
    font-weight: 300;
    margin-bottom:30px;
    line-height: 34px;
    color:#151515;
    text-align: left;
    letter-spacing: -0.4px;   
}
.go-premium-section{
    background-image: url('img/go-premium-proxy-bg.svg');
    padding:120px 0px;
    background-size: cover;
    background-position: center;
}
.gp-paragraph{
    width:100%;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: -0.4px;
    text-align: center;
    line-height: 30px;
    opacity: 0.7;
    color:#151515;
}
.benefits-box{
    padding:20px;
    background-color:white;
    border-radius:10px;
    margin-bottom:20px;
    display:flex;
}
.benefits-box .ticks-img{
    margin-right:30px;
}
.benefits-box .benefits-paragraph{
    font-weight: 300;
    font-size: 16px;
    letter-spacing: -0.4px;
    text-align: left;
    line-height: 24px;
    color:#151515;
}
.flags{
    display:flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 30px;
}
.flags img{
    width:43px;
    height:30px;
    border-radius: 5px;
}
.flags p{
    margin-left:10px;
    margin-bottom: 0px !important;
}
.country-main{
    margin-top:60px;
}
.loader{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
}
.loader .circle-of-loader2{
    background-color:rgba(248,159,27);
    border-radius:50%;
    width:40vh;
    height:40vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.loader .circle-of-loader{
    background-color:#fff;
    border-radius:50%;
    position: absolute;
    width:35vh;
    height:35vh;
    display:flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 40px 0px rgba(248,159,27,0.4);
    -webkit-box-shadow: 0px 0px 40px 0px rgba(248,159,27,0.4);
    -moz-box-shadow: 0px 0px 40px 0px rgba(248,159,27,0.4);
}
.loader .circle-of-loader .country-vector{
  width:80%;
}
.loader .ping {
	-webkit-animation: ping 1.8s ease-in-out infinite both;
	        animation: ping 1.8s ease-in-out infinite both;
}
/* ----------------------------------------------
 * Generated by Animista on 2021-3-25 22:22:58
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation ping
 * ----------------------------------------
 */
 @-webkit-keyframes ping {
    0% {
      -webkit-transform: scale(0.2);
              transform: scale(0.2);
      opacity: 0.8;
    }
    80% {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(2.2);
              transform: scale(2.2);
      opacity: 0;
    }
  }
  @keyframes ping {
    0% {
      -webkit-transform: scale(0.2);
              transform: scale(0.2);
      opacity: 0.8;
    }
    80% {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(2.2);
              transform: scale(2.2);
      opacity: 0;
    }
  }
.country-box{
    background: white;
    padding:30px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
}
.country-box .country-img{
    width: 30%;
}
.country-box .country-proxy{
    font-weight: 500;
    font-size: 16px;
    margin:15px 0px;
    letter-spacing: -0.4px;
    text-align: left;
    line-height: 24px;
    color:#151515;
}
.country-box .country-description{
    font-weight: 300;
    font-size: 16px;
    margin:0px;
    letter-spacing: -0.4px;
    text-align: left;
    line-height: 24px;
    color:#151515;
}
.country-btn{
    border-radius: 45px;
    outline:none;
    font-family: 'Poppins', sans-serif;
    padding:5px;
    margin-top:15px;
    text-align: center;
    transition: 0.3s;
    font-size:14px;
    font-weight:300;
    background-color: white;
    border:1px solid #00B3D3;
    color:#00B3D3;
}
.country-btn:hover{
    background-color: #e7fbff;
}
.hw-box{
    background: white;
    padding:30px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
    margin:20px 0px;
}
.hw-box .hw-box-heading{
    font-weight: 500;
    font-size: 20px;
    margin-top:10px;
    margin-bottom:30px;
    letter-spacing: -0.4px;
    text-align: center;
    line-height: 24px;
    color:#151515;   
}
.hw-box .hw-box-description{
    font-weight: 300;
    font-size: 16px;
    margin:0px;
    letter-spacing: -0.4px;
    text-align: center;
    line-height: 24px;
    color:#151515;
}
.hw-center{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.hw-btn{
    border-radius: 45px;
    outline:none;
    font-family: 'Poppins', sans-serif;
    padding:10px 20px;
    margin-top:15px;
    width: max-content;
    text-align: center;
    transition: 0.3s;
    font-size:14px;
    font-weight:300;
    background-color: white;
    border:1px solid #00B3D3;
    color:#00B3D3;
}
.hw-btn:hover{
    background-color: #e7fbff;
}
.data-you-can-count{
    width: 70%;
}





@media(max-width:450px){
    .hero-section{
        background-image: url('img/mobile-hero-bg.svg');
    }
    .hs-heading{
        margin-top:-150px;
    }
    .hs-heading, .ps-heading, .ct-heading, .fs-heading, .uc-heading, .tl-heading, .wp-heading, .rp-section .rp-heading, .puc-heading, .bfts-heading, .hw-heading, .pfts-heading, .lp-heading, .rproxy-heading, .faqs-heading, .dcs-heading, .ucp-heading, .blur-heading, .rp-section-2 .rp-heading, .aloc-heading, .top-locations-country .ln-heading{
        font-size:30px;
    }
    .hs-buttons{
        margin-top:30px;
    }
    .button{
        font-size:14px;
        padding:12px 0px;
    }
    .products-section{
        padding:80px 0px;
    }
    .ps-box{
        padding:20px;
    }
    .ps-sm-heading{
        font-size:25px;
    }
    .ps-paragraph{
        font-size:14px;
    }
    .ps-ticks-text{
        margin-left: 10px;
    }
    .cert-section{
        padding:80px 0px;
    }
    .ct-text-box{
        justify-content: center;
    }
    .ct-sm-heading{
        font-size: 25px;
        text-align: center;
        line-height: 36px;
    }
    #ct-first{
        margin-top:30px;
    }
    .ct-images{
        margin:10px 0px;
        width: 70%;
    }
    .features-section{
        padding:70px 0px;
    }
    .row-mobile{
        margin-left:0px;
        margin-right: 0px;
    }
    .fs-box{
        padding:20px 25px;
        flex-direction: column;
    }
    .fs-paragraph{
        width: 100%;
        font-size: 14px;
    }
    .usecases-section{
        padding:70px 0px;
    }
    .uc-box{
        padding:20px;
        width: 70%;
    }
    .top-location-section{
        padding:70px 0px;
    }
    .tl-box{
        margin-bottom:30px;
    }
    .tl-box .tl-ips{
        font-size:35px;
    }
    .why-proxyverse-section{
        padding:70px 0px;
    }
    .wp-box{
        margin-top:50px;
    }
    .wp-sm-heading{
        font-size: 25px;
    }
    .wp-paragraph{
        font-size: 14px;
        width: 100%;
    }
    .rp-section .rp-paragraph{
        font-size: 14px;
    }
    .products-hero{
        margin-top:30px;
    }
    .ps-img-box{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .products-premium-section{
        padding:70px 0px;
    }
    .pp-paragraph{
        padding:16px;
        font-size:16px;
    }
    .m-box{
        margin-top:30px;
    }
    .p-usecases-section{
        padding:70px 0px;
    }
    .puc-box .puc-sm-paragraph{
        width: 100%;
    }
    .residential-hero{
        width: 60%;
        margin-top:30px;
    }
    .benefits-section{
        padding:70px 0px;
    }
    .bfts-box{
        padding:25px;
        border: 1px solid rgba(0, 179, 211, 0.5);
    }
    .bfts-box .bfts-sm-heading{
        font-size: 18px;
    }
    .bfts-box .bfts-sm-paragraph{
        font-size: 14px;
        width: 100%;
    }
    .how-works-section{
        padding:70px 0px;
    }
    .hw-paragraph{
        font-size: 14px;
    }
    .pfts-section{
        padding:70px 0px;
    }
    .pfts-box .pfts-sm-paragraph{
        font-size: 16px;
    }
    .leadingp-section{
        padding:70px 0px;   
    }
    .lp-paragraph{
        font-size: 16px;
    }
    .rp-section{
        background-image: url('img/mobile-right-proxy-bg.png');
        height: auto;
    }
    .right-proxy-section{
        padding-top:70px;
        padding-bottom: 70px;
        background-image:url('img/mobile-right-proxy-bg.png');
    }
    .rproxy-paragraph{
        font-size: 14px;
    }
    .right-proxy-img{
        margin-top:30px;
    }
    .faqs-section{
        padding:70px 0px;
    }
    .accordion{
        padding:20px;
        font-size: 16px;
    }
    .accordion:after{
        margin-left:0px;
    }
    .panel .faqs-panel{
        padding:20px;
        font-size: 14px;
    }
    .mp-mobile-mt{
        margin-top:25vh;
    }
    .dc-scale-section{
        background-image: url('img/mobile-scale.svg');
        background-position: bottom;
        padding:70px 0px;
    }
    .dcs-paragraph{
        font-size: 14px;
        margin-top:30px;
        margin-bottom:30px;
    }
    .lp-btn-center{
        margin: 10px 0px;
    }
    .hero-usecases-bg{
        background-image: url('img/mobile-hero-usecases-bg.svg') !important;
    }
    .rds-box{
        padding:30px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .rds-p-box{
        padding-left:0px;
        align-items: center;
    }
    .rds-sm-heading{
        text-align: center;
    }
    .rds-paragraph{
        font-size: 14px;
        text-align:center;
    }
    .rp-section .rp-sm-heading{
        font-size: 20px;
    }
    .mobile-mt-30-picture{
        margin-top:30px;
    }
    .mobile-picture-mt-wd{
        margin-top:30px;
        width: 80%;
    }
    .rdc-paragraph{
        font-size:16px;
    }
    .special-width{
        width: 100% !important;
    }
    .uc-paragraph{
        font-size: 16px;
        margin-top:30px;
    }
    .benefits-box .benefits-paragraph{
        font-size:14px;
    }
    .benefits-box .ticks-img{
        margin-right: 20px;
    }
    .go-premium-section{
        padding:70px 0px;
    }
    .gp-paragraph{
        font-size: 16px;
    }
    .rproxy-heading{
        text-align: center;
    }
    .rproxy-sm-heading{
        font-size: 18px;
    }
    .puc-pargraph{
        font-size: 16px;
    }
    .ucp-paragraph, .blur-paragraph{
        font-size: 14px;
    }
    .rp-section-2 .rp-paragraph{
        font-size: 14px;
    }
    .button-2{
        font-size:14px;
        padding:12px;
        margin:10px 0px;
    }
    .rp-section-2{
        background-image: url('img/mobile-top-locations.png');
    }
    .ml-20{
        margin-left: 10px;
    }
    .all-locations-section{
        padding:70px 0px;
    }
    .aloc-sm-heading{
        font-size: 25px;
    }
    .top-locations-country{
        height: 100%;
    }
    .ln-sm-heading{
        font-size: 20px;
    }
    .country-box{
        margin:15px 0px; 
    }
    .section-b{
        padding:70px 0px;
    }



    .footer .f-heading{
        margin-top:30px;
        font-size: 18px;
    }
    .footer .footer-links{
        font-size: 14px;
    }
    .footer .copyright{
        font-size: 14px;
    }
}